* {
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  color: rgb(48, 48, 121);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-header {
  background-color: rgb(134, 168, 232);
  padding: 10px;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

section {
  padding: 10px;
  border-bottom: 1px solid black;
  width: 75%;
  min-height: 100vh;
}

.main-footer {
  background-color: rgb(134, 168, 232);
}

.dev-resources {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.dev-resources > li {
  border: 1px solid rgba(156, 156, 156, 0.4);
  border-radius: 10px;
  padding: 10px;
}

.game-development {
  background-image: url(assets/game-development.jpg);
  background-size: cover;
}